/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* Loading Animation */

.loader {
  margin: 0 auto 20px;
  width: 70px;
  text-align: center;
}

.loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

/* ___ MEPS ___ */

.meps-logo {
  margin: 1rem 0;
}

/* ___ Paintings ___ */

.paintings .filter_forms {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.paintings form {
  margin-bottom: 10px;
  margin-right: 10px;
}

.paintings .count {
  margin-top: 10px;
  margin-left: auto;
  font-size: 0.9em;
}

.paintings ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.paintings li {
  flex: 33% 0 0;
  padding: 10px 10px 20px 10px;
  line-height: 1.4em;
  font-size: 0.9em;
}

.paintings .image {
  height: 250px;
  background-size: cover !important;
  background-position: left top !important;
  //background-position: center !important;
  margin-bottom: 5px;
  cursor: pointer;
}
.paintings .adjusted_price {
  font-size: 1.5em;
  line-height: 1.3em;
}
.paintings .title
{
  font-size: 1.3em;
  color: black;
  line-height: 1.5em;
}
.paintings .artist {
  font-size: 1.1em;
  color: gray;
  font-weight: bold;
  line-height: 1.5em;
}

.paintings span {
  font-size: 0.8em;
  text-transform: uppercase;
}

@media (max-width: 40.0rem) { /* Small devices (landscape phones, 576px and below) */
  .paintings li {
    flex: 100% 0 0;
  }
  .paintings .image {
    height: 400px;
  }
}









